<!-- header -->
<% include layout/header  %>
<!-- header End -->
<!-- content -->

<div class="container">

    <div>
        <!-- form start -->
        <form action="/" method="GET">
            <select class="form-control" name="type" id="type">
                <option> --- Select Chart Type --- </option>
                <option value="bar">bar</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
            </select>
            <button class="btn btn-primary">Apply</button>
        </form>
        <!-- form End -->
    </div>

    <!-- bar chart -->
    <div class="row">
        <div class="col col-sm-4">
            <canvas id="barChart" height="10%" width="10%"></canvas>
        </div>
    </div>
    <!-- bar chart end here -->

</div>


<!-- script start -->
<script>
    var Label = '<%= data.data.labels %>';
    var Label1 = Label.split(",");
    var Population = '<%= data.data.datasets[0].data %>';
    var Population1 = Population.split(",").map(Number);

    var ctx = document.getElementById('barChart').getContext('2d');

    var myChart = new Chart(ctx, {
        type: "<%= data.type %>",
        data: {

            labels: Label1,
            datasets: [{
                label: '<%= data.data.datasets[0].label %>',
                data: Population1,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<!-- script End -->

<!-- footer -->
<% include layout/footer  %>
<!-- footer end -->